<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center; align-items: center; height: 300px;">
    <ion-icon slot="start" name="person-circle-outline" style="font-size: 100px"></ion-icon>
  </div>

  <div id="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100px;">
    <ion-button color="warning">
      <ion-icon name="person-outline"></ion-icon>
      Profesor
    </ion-button>
    <br><br>
    <ion-button color="primary" style="margin-top: 10px;">
      <ion-icon name="person-add-outline"></ion-icon>
      Alumno
    </ion-button>
  </div>
</ion-content>